[submodule "vim/vim.symlink/bundle/nerdcommenter"]
	path = vim/vim.symlink/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/vim-ruby-runner"]
	path = vim/vim.symlink/bundle/vim-ruby-runner
	url = git://github.com/henrik/vim-ruby-runner.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/Kwbd"]
	path = vim/vim.symlink/bundle/Kwbd
	url = git://github.com/rgarver/Kwbd.vim.git
[submodule "vim/vim.symlink/bundle/vim-endwise"]
	path = vim/vim.symlink/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/Auto-Pairs"]
	path = vim/vim.symlink/bundle/Auto-Pairs
	url = git://github.com/vim-scripts/Auto-Pairs.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
